{% extends 'frontend.html.twig' %}

{% block title %}Hello FrontendController!
{% endblock %}

{% block body %}

	<div class="container-fluid p-6">
		<div class="row">
			<div
				class="col-lg-12 col-md-12 col-12">
				<!-- Page header -->
				<div class="border-bottom pb-4 mb-4 ">
					<h3 class="mb-0 fw-bold">
						Hello
						{{ person.firstname }}
						{{ person.lastname }}! ({{ type }}) ✅
					</h3>
				</div>
			</div>
		</div>
		<!-- content -->
		<div class="py-6">
			<div class="row">
				<div
					class="col">
					<!-- card -->
					<div
						class="card border-secondary">
						<!-- card body -->
						<div class="card-header">
							<h4>About Me</h4>
						</div>
						<div class="card-body">
							<!-- card title -->
							<!-- row -->
								<div class="row"> <div class="col-6 mb-5">
									<h6 class="text-uppercase fs-5 ls-2">Phone</h6>
									<p class="mb-0">{{ person.phone }}</p>
								</div>
								<div class="col-6 mb-5">
									<h6 class="text-uppercase fs-5 ls-2">Date of Birth</h6>
									<p class="mb-0">{{ person.birthdate }}</p>
								</div>
								<div class="col-6">
									<h6 class="text-uppercase fs-5 ls-2">Email</h6>
									<p class="mb-0">{{ person.email }}</p>
								</div>
								<div class="col-6">
									<h6 class="text-uppercase fs-5 ls-2">Location</h6>
									<p class="mb-0">Ahmedabad, India</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div5
				class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
				<!-- card -->
				<div class="card border-secondary">
					<div class="card-header">
						<h4 class="card-title">Demandes / propositions</h4>
					</div>
					<!-- card body -->
					<div
						class="card-body">
						<!-- card title -->

						<ul class="list-group">
							{% for lead in person.leads %}
								<li class="list-group-item">
									{% for objective in lead.objective %}
										{{ objective.title|trans }}
										-
									{% endfor %}
									/
									<strong>status</strong>
									{{ lead.status }}
									<br/>
									<strong>status :</strong>
									{% for sponsorship in lead.sponsorships %}
										{{ sponsorship.status|keys|join(' / ') }}
									{% endfor %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div
				class="col-xl-6 col-lg-12 col-md-12 col-12 mb-6">
				<!-- card -->
				<div class="card border-secondary">
					<div class="card-header">
						<h4 class="card-title">Sponsorship</h4>
					</div>
					<!-- card body -->
					<div
						class="card-body">
						<!-- card title -->

						<ul class="list-group">
							{% for lead in person.leads %}
								<li class="list-group-item">
									<strong>status :</strong>
									{% for sponsorship in lead.sponsorships %}
										{{ sponsorship.status|keys|join(' / ') }}
									{% endfor %}
								</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
