{% extends '@!EasyAdmin/crud/detail.html.twig' %}


{% block main %}
	{{ parent() }}

	{#  #}
	<div class="row row-cols-2">
		{# Student #}
		{% set r = entity.instance.request %}
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<i class="fa-solid fa-graduation-cap"></i> {{ r.person.firstName }} {{ r.person.lastName }}
					</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
		{# Sponsor #}
		{% set r = entity.instance.proposal %}
		<div class="col">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<i class="fa-solid fa-user"></i> {{ r.person.firstName }} {{ r.person.lastName }}
					</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
